body{
    margin:0;
    padding:0;
    color: white;
}
    #main{
    width: 600px; 
    margin: 0 auto;
    background: blue; 
    position: relative;
}
img {
    position: relative;
    float: right;
    padding: 0px 0px 20px 20px;
}